.flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10% 20% 0;
  font-family: "Helvetica", sans-serif;
  font-size: 1.3em;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.code-container {
  background-color: #aed9e0;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px;
  overflow: auto;
}
h1 {
  margin: 8px;
  font-size: 50px;
  font-family: "Helvetica", sans-serif;
}
h2,
p {
  margin: 8px;
  font-family: "Helvetica", sans-serif;
  font-size: 1.3em;
}
